{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/edm.css')}}">
<style>
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
    /* This container is needed to position the front and back side */
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Do an horizontal flip when you move the mouse over the flip box container */
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    /* Position the front and back side */
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    /* Style the front side (fallback if image is missing) */
    
    .flip-card-front {
        background-color: #fff;
        box-shadow: 0px 0px 10px #000;
        color: black;
    }
    /* Style the back side */
    
    .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }
    
    .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
    
    .icon:after {
        position: absolute;
        right: 10px;
        content: "";
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        margin-right: -20px;
        border-radius: 50%;
        background-color: rgb(197, 197, 197);
    }
    
    .icon-right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
    
    .icon-right:after {
        position: absolute;
        left: -10px;
        content: "";
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        margin-right: -20px;
        border-radius: 50%;
        background-color: rgb(197, 197, 197);
    }
</style> {% endblock %} {% block body %}
<div class="jumbotron jumbotron-fluid margin bandeau_instrument">

    <h2 class="h2-responsive text-center text-white d-flex align-items-center ">Les instruments enseignés</h2>
</div>

<div class="row text-center">
    <div class="col-12">
        <h4 style="color:#000;"><span class="border-bottom">Instruments</span></h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-start">

            <form method="get" class="form-inline">
                <div class="form-group"></div>
                <select class="form-control ml-4 border" id="search" name="famille">
                        {% for famille in familleInstrument %}
                        {% if nrFamille ==  famille.id %}
                        <option value={{famille.id}} selected>{{famille.nom}}</option>
                        {% else %}
                        <option value={{famille.id}}>{{famille.nom}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                <button type="submit" class="btn btn-danger form-control ml-4">Filtrer</button>
        </div>
        </form>
    </div>
</div>
<div class="row my-5">

    {% for instrument in instruments %}
    <div class="container">
        <div class="col-md-12 my-3 d-flex justify-content-center flex-wrap">
            <div>
                <p class="icon">
                    <img src="{{ vich_uploader_asset(instrument, 'imageFile')}}" style="height:50%; width:50%;" alt="">
                </p>
            </div>
            <div class="instrument_description mx-5 text-center">
                <h4 style="color:#000">{{instrument.nom}}</h4>
                <p>{{instrument.description}}</p>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
</div>
<div class="row">
    <div class="container d-flex justify-content-center">
        {% if nrFamille %}
        <a class="btn col-4 btn-primary mb-3" href="{{ path('instruments')}}">Retour vers la liste des instruments</a> {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %} {% block javascripts %}
<script>
    $('#search').change(function() {
        let searchNr = $('#search').val();
        let req = new XMLHttpRequest();
        req.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("#test").innerHTML = this.responseText;
                console.log(this.responseText);
            }
        }
        req.open("GET", "/edm/instruments?famille=" + searchNr, true);
        req.send();
    })
</script>
{% endblock %}