{% extends 'base.html.twig' %} {% block title %}Blog{% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/blog.css')}}"> {% endblock %} {% block body %}

<div class="col-12 margin px-0">
    <h2 class="h1-responsive mb-5 font-weight-bold text-center titre py-4">Blog</h2>

</div>
{#
<div class="container d-flex justify-content-center ">


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            {% for recentArticle in recentArticles %}
            <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                <img src="/image/{{recentArticle.image }}" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="titre">{{recentArticle.title}}</h5>
                </div>
            </div>

            {% endfor %}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    </div>

</div>
<br> #}
<div class="container">
    <div class="row ">

        <section class="description col-md-8">
            <div class="row centrer">
                {% if articles|length > 0 %} {% for article in articles %}
                <div class=" col-md-5 mx-3 p-0 border-0 card mb-4 bg-white">
                    {% if article.imageName %}
                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('medium')}}" style="height:100%; width:100%;" alt=""> {% else %}
                    <img src="https://i.pravatar.cc/300" style="height:100%; width:100%;" alt=""> {% endif %}
                    <div class="card-body">
                        <h2 class="card-title h4">{{article.title}}</h2>
                        <a href="{{ path('blog_show', {'id': article.id})}}" class="btn btn-dark">Lire l'article &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posté le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('h:i')}}
                    </div>
                </div>

                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-danger" style="background-color: rgba(255, 000,000, 0.5)">
                Aucun Résultat...
            </div>
            {% endif %}

            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(articles) }}
            </div>
        </section>
        {{ include('blog/sidebar.html.twig')}}
    </div>

</div>

{% endblock %} {% block javascripts %} {% endblock %}