{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/blog.css')}}"> {% endblock %} {% block body %}
<div class="container">
    <div class="col-12 margin">
        <h2 class="card-title h1 pt-5">{{article.title}}</h2>
    </div>
    <div class="row">
        <section class="description col-md-8">
            <div class="card mb-5 bg-white">
                {% if article.imageName %}
                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('medium')}}" style="height:100%; width:100%;" alt=""> {% else %}
                <img src="https://i.pravatar.cc/300" style="height:100%; width:100%;" alt=""> {% endif %}
                <div class="card-body">
                    <p class="card-text">{{article.content | raw}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo odit eum quae explicabo, officiis cupiditate tenetur voluptate commodi magnam unde, sint, necessitatibus nostrum soluta dolorem repellendus omnis sunt culpa provident
                        nulla debitis architecto tempore. Hic molestias illum eligendi ad quam, numquam odio a facilis alias obcaecati consequuntur in vitae!</p>
                </div>
                <div class="card-footer text-muted">
                    Posté le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('h:i')}}
                </div>
            </div>
        </section>
        {# {{ include('blog/sidebar.html.twig')}} #}
    </div>
</div>
{% endblock %}