{% extends 'adminBase.html.twig'%} {% block body %}
<div class="card col-md-8 mx-auto my-5 px-0">
    <div class="card-header bg-success">
        <h2>Gérer les Articles</h2>
        <form class="form-inline my-2 my-lg-0" method="POST">
            {% if send %}
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Rechercher" aria-label="Search" value="{{search}}"> {% else %}
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Rechercher" aria-label="Search"> {% endif %}
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">La liste complète des articles</h5>
        <div class="card-text table-responsive">
            {% if articles | length > 0 %}
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th class="th-sm">#</th>
                        <th class="th-sm">Titre
                        </th>
                        <th class="th-sm">Contenu
                        </th>
                        <th class="th-sm">Date de creation
                        </th>
                        <th class="th-sm">Image
                        </th>
                        <th colspan="2" class="th-sm">Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% set compteur = 0 %} {% for article in articles %}
                    <tr class="text-center h-100">
                        {% set compteur = compteur + 1 %}
                        <td class="align-middle">{{ compteur }}</td>
                        <td class="align-middle">{{article.title}}</td>
                        <td class="align-middle">{{ article.content | raw | slice(0,20)}}</td>
                        <td class="align-middle">{{article.createdAt | date('d/m/Y')}}
                        </td>
                        <td class="align-middle">{{article.image}}</td>
                        <td colspan="2"><a href="{{path('admin_edit_article', {'id' : article.id})}}" class="btn btn-success m-2">Modifier</a><a href="{{path('admin_delete_article', {'id' : article.id})}}" class="btn btn-danger m-2">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4>Aucun résultat...</h4>
            {% endif %}
        </div>
        <ul>
    </div>
</div>
{% endblock %}