<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/admin.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('admin')}}">Portail Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('admin')}}">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_users')}}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_articles')}}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_instruments')}}">Instruments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_famille')}}">Familles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_musiciens')}}">Musiciens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_historique')}}">Historique</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Bienvenue, {{app.user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('security_logout')}}">Deconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid main text-white">
        <div class="row">
            {% block body %} {% endblock %}
        </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).scroll(function() {
            $('.navbar').toggleClass('scrolled', $(this)
                .scrollTop() > $('.navbar').height());
        })
    </script>
    {% block javascripts %}{% endblock %}
</body>

</html>