<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{asset('image/favicon.png')}}"> {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav m-auto dl-flex justify-content-center align-items-center">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ path('home')}}"><i class="fa fa-home"></i> ACCUEIL</span></a>
                </li>
                <li class="nav-item mx-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                ECOLE DE MUSIQUE
                            </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('instruments')}}">INSTRUMENTS ENSEIGNES</a>
                        <a class="dropdown-item" href="{{ path('professeur')}}">LES PROFESSEURS</a>
                        <a class="dropdown-item" href="">TARIFS D'INSCRIPTION</a>
                    </div>
                </li>
                <li class="nav-item mx-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                ORCHESTRE
                            </a>
                    <div class="dropdown-menu">                        
                        <a class="dropdown-item" href="{{ path('musiciens') }}">NOS MUSICIENS</a>
                        <a class="dropdown-item" href="{{path('documentsInscription')}}">DOCUMENTS D'INSCRIPTION</a>
                        <a class="dropdown-item" href="{{path('tarifsOrchestre')}}">TARIFS ORCHESTRE</a>
                    </div>
                </li>
                <li class="nav-item mx-2">
                    <a class="navbar-brand" href="{{ path('home')}}"><img src="{{asset('image/logoCMB.png')}}" style="width:70px; height:78px;" alt=""></a>
                </li>
                <li class="nav-item mx-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                INFORMATIONS SUPPLEMENTAIRES
                            </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('historique')}}">HISTORIQUE</a>
                        <a class="dropdown-item" href="{{path('mecenat')}}">M&Eacute;C&Eacute;NAT</a>
                        <a class="dropdown-item" href="{{path('revuePresse')}}">REVUE DE PRESSE</a>
                        <a class="dropdown-item" href="{{path('sortiesAnnuelles')}}">SORTIES ANNUELLES</a>
                    </div>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ path('blog')}}">BLOG</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ path('contact')}}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %} {% endblock %}
    </div>
    <footer class="page-footer text-white">
        <div class="container-fluid p-5">
            <hr class="text-center separator my-1">

            <div class="row text-center d-flex align-items-center">
                <div class="col-md-3 px-5">
                    <img src="{{asset('image/logoCMB.png')}}" alt="" style="width:200px; height:200px;">
                </div>
                <div class="col-md-3 px-5">

                    <p>150 avenue du docteur QUETTIER,<br>62600 Berck sur mer <br>06.11.43.14.75

                    </p>

                </div>
                <div class="col-md-3 px-5 separate">

                    <p>Du lundi au vendredi de 07:30 à 21:15 <br> Le samedi de 08:30 à 18:45 <br> Le dimanche en fonction des projets de 9:00 à 17:15</p>
                </div>
                <div class="col-md-3 text-center">
                    {% if app.user %}
                    <a href="{{path('security_logout')}}" class="btn btn-danger p-3 my-3 connexion">Se déconnecter</a> {% else %}
                    <a href="{{path('security_login')}}" class="btn btn-danger p-3 my-3 connexion">Se connecter</a>{% endif %}
                </div>
            </div>
            <div class="container">
                <div class="row border-top d-flex justify-content-end">
                    <div class="d-flex footer-link">
                        <div class="p-2 d-flex align-items-center"><a href="https://www.facebook.com/Club-Musical-Berckois-et-Ecole-de-Musique-Municipale-de-Berck-sur-Mer-443802849012332/?ref=br_tf&epa=SEARCH_BOX"><i class="fa fa-facebook social" aria-hidden="true"></i></a>
                        </div>
                        <div class="p-2 d-flex align-items-center">Mentions Legales</div>
                        <div class="p-2 d-flex align-items-center">
                            <a href="{{ path('planDuSite') }}">Plan du site</a>
                            
                        </div>
                        <div class="p-2 d-flex align-items-center footer-link">
                            <a href="{{path('contact')}}">Nous contacter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>